<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/admin_topnavi.css">
<style>
</style>
</head>
<body>
    <!-- 탑 네비게이션 -->
    <%- include ('./inc/top_navi')%>
    <!-- 포함시키다, 뭘 포함시키냐면 view엔진에서 ejs 쓴다고 했기때문에 파일명 안써도 됨 -->
    <div style="padding-left:16px">
        <h2>Top Navigation Example</h2>
        <p>Some content..</p>
    </div>

</body>
</html>